* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.play-area {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.play-area__tile {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}
