* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  text-align: center;
  margin: 20px 0 ;
  font-size: 2rem;
}


.play-area {
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  height: 375px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.play-area__tile {
  border: 1px solid #D3D3D3;
  background-color: #F5F5F5;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.play-area__tile:hover{
  background-color: #7cd4da;
}

#restartButton {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 150px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 40px;
  font-size: 18px;
}

#restartButton:hover {
  background-color: #000000;
  color: #FFFFFF;
}